<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bulletin Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>

<body>
    {{{ body }}}
</body>
<script src="assets/js/input.js"></script>
</html>
