<h1> Bulletin Board</h1>

<div class="row">

    <div class="col-md-10">
        <ul>

         {{#each post}} 
         {{!-- Since we're deleting any inactive listings, all are active and only have to do the forEach --}}

            <li>
                <h2>Insert this user here{{this.user}}</h2><button class="delete" type="submit">X</button>
                <p>insert this post here{{this.post}}</p>
                <form class="create-form">
                    <p><button id="respond" type="submit">Respond</button></p>
                    <div class="form-group">
                        <label for="name"><h2>Name:</h2></label><br/>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="response"><h2>Response:</h2></label></br/>
                        <textarea id="response" name="response" rows="2" cols="20"></textarea>
                    </div>
                </form>

            </li>

        {{/each}}
        </ul>
    </div>

    <div class="col-md-2 ">

        <div class="row vspace">
           
        </div>

        <div class="row inputbox">

            <form class="create-form inputbutton">

                <div class="sidetop"><h3>Enter new request</h3></div>
                <div class="form-group">
                    <label for="name"><h3>Name:</h3></label><br/>
                    <input type="text" id="name" name="name">
                </div>

                <div class="form-group">
                    <label for="request"><h3>Request:</h3></label><br/>
                    <textarea id="request" name="request" rows="2" cols="20"></textarea>
                </div>

                <p>
                    <button class="sidebutton" type="submit">Submit</button>
                </p>

            </form>

        </div>

    </div>


</div>


